@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-base text-text
}

@media (prefers-color-scheme: dark) {
    body {
        @apply mocha;
    }
}

* {
    user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}